:root{
  --grayLight: rgb(117, 117, 117);
  --grayCommon: rgb(70, 70, 70);
  --grayMid: rgb(49, 49, 49);
  --grayDark: rgb(27, 27, 27);
}


.sidebar {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 10%;
    /* background-image: url("aedcca77-ccf1-4e80-80e9-6efc13a35c90.png"); */
    background-color: var(--grayLight);
    margin: 0px;
    padding: 0px;   
    top: 0;
    bottom: 0;
  }

  .sidebarElement{
    position: sticky;
    width: 10%;
    float: left;
  }
  
  .sidebar button{
    height: 75%;
    top: 0px;
    padding: 0.9rem;  
    margin: 0.5rem;
    vertical-align:middle;
    text-align: center;
    border: 0rem solid;
    border-radius: 200px;
    /* border-color: var(--grayDark); */
    overflow: hidden;
    background-color:  var(--grayCommon);
    /* color: black; */
    /* margin: 1rem; */
    font-size: x-large;

  }

  .sidebar img{
    width: 7%;

    /* vertical-align: top; */
    /* vertical-align:middle; */
    /* position: relative; */
  }

  .sidebar #login{
    width: 7%;
    float: right;
  }
  
  .sidebar button:hover {
    background-color: var(--grayMid);
  }