.pageContent {
    opacity: 1.0;
    margin-top: 8%;
    /* float: left; */
    padding: 5%;
  }

body {
    /* content: ""; */
    /* background-color: rgb(192, 231, 231); */
    /* background: url("../public/background.png"); */
    /* background-size: cover; */
    /* background-color: ; */
    /* opacity: 0.3; */
    margin: 0px;
    padding: 0px;
    padding-bottom: 3rem;
    top: 0;
  }